* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center; /* Center the content */
}

h1 {
  margin-bottom: 20px; /* Add space below the heading */
}

input {
  width: calc(100% - 20px); /* Adjust width for padding */
  border: none;
  background-color: #f0f0f0;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  width: calc(25% - 10px); /* Adjust button width */
  height: 50px;
  background-color: #6dbb1a;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a8c12;
}

@media screen and (max-width: 768px) {
  .calc {
    width: 80%;
  }

  button {
    width: calc(20% - 10px); /* Adjust button width */
  }
}

@media screen and (max-width: 480px) {
  input {
    font-size: 18px;
  }

  button {
    width: calc(33.33% - 10px); /* Adjust button width */
    font-size: 16px;
  }
}
